<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/guardarLib}" th:object="${libro}">
	<label>Titulo: </label><input type="text" th:field="${libro.sTitulo}"><br>
	<span th:error="*{libro.sTitulo}" style="color: #FF0000"></span><br>
	
	<label>Autor: </label><input type="text" th:field="${libro.sAutor}"><br>
	<span th:error="*{libro.sAutor}" style="color: #FF0000"></span><br>
	
	<label>ISBN: </label><input type="text" th:field="${libro.isbn}"><br>
	<span th:error="*{libro.isbn}" style="color: #FF0000"></span><br>
	
	<select th:field="${libro.categoria.categoria}">
		<option th:each="cat : ${categorias}" th:value="${cat.categoria}" th:text="${cat.scategoria}"></option>
	</select>
	<label>Estado: </label><input type="checkbox" th:field="${libro.bEstado}">
	<input type="submit" value="Ingresar Categoria">
</form>
</body>
</html>